html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#app{
    height: 100%;
  }
 
.el-submenu__title:focus, .el-submenu__title:hover{
  background-color:#2d3a4b;
}
.el-menu-item:hover,.el-menu-item:focus{
    background-color:#2d3a4b;
}
.el-main{
    background-color: #e9eef3;
}